body {
 

 background-image: url("./d2.jpg");
 background-size: cover;
 background-repeat: no-repeat center fixed;
 background-color: #cccccc;
}

ul.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
ul.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
ul.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
ul.topnav a.active {
  background-color: green;
  color: white;
}

h1 {
  background-color: black;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0px;
            font-size: 35px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  	     padding-top: 0px;
             border: 6px solid black;
             border-radius: 5px;
}
p {
background-image: url("./text5.jpg");
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0px;
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  	     padding-top: 0px;
           

}
div{
  
  border-radius: 50%;
  width: 25px;
  height: 25px;
  
  background-color: white;
  
  position: relative;
  animation-name: ball;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s;
}

@keyframes ball{

  0%  {background-color:white; left:0px; top:0px;}
  25%  {background-color:white; left:600px; top:0px;}
 
  50% {background-color:white; left:1000px;top :600px;}
  75% {background-color:white; left:0px;top :600px;}
  100% {background-color:white; left:0px;top :0px;}
}

@media only screen and (max-width: 601px) {
body {

background-image: url("./text5.jpg");
background-size: cover;
 background-repeat: no-repeat center fixed;
 background-color: #cccccc;

}
ul.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
ul.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
ul.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
ul.topnav a.active {
  background-color: orange;
  color: white;
}

h1 {
  background-color: orange;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0px;
            font-size: 35px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  	     padding-top: 0px;
             border: 6px solid black;
             border-radius: 5px;
}
p {
background-image: url("./text.jpg");
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0px;
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  	     padding-top: 0px;
           

}
div{
  
  border-radius: 50%;
  width: 25px;
  height: 25px;
  
  background-color: white;
  
  position: relative;
  animation-name: ball;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s;
}

@keyframes ball{

  0%  {background-color:white; left:0px; top:0px;}
  25%  {background-color:white; left:500px; top:0px;}
 
  50% {background-color:white; left:500px;top :500px;}
  75% {background-color:white; left:0px;top :500px;}
  100% {background-color:white; left:0px;top :0px;}
}
}