
  
body {
 

 background-image: url("./d1.jpg");
 background-size: cover;
 background-repeat: no-repeat center fixed;
 background-color: #cccccc;

 

}
ul.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
ul.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
ul.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
  ul.topnav a.active {
  background-color: orange;
  color: white;
}



h1 {
  background-image: url("./text.jpg");
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0px;
            font-size: 45px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  	     padding-top: 70px;

  
}

p {
  background-image: url("./text.jpg");
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0px;
            font-size: 45px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;


}
div{
  
  border-radius: 50%;
  width: 25px;
  height: 25px;
  
  background-image: url("./ball.jpg");
  
  position: relative;
  animation-name: ball;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  
}

@keyframes ball{

  50%  {background-color:white; left:0px; top:0px;}
  75%  {background-color:white; left:1500px; top:0px;}
 
  100% {background-color:white; left:0px;0px;}
}

@media only screen and (max-width: 601px) {
body {

background-image: url("./m1.jpg");
background-size: cover;
 background-repeat: no-repeat center fixed;
 background-color: #cccccc;
}
ul.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
ul.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
ul.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
  ul.topnav a.active {
  background-color: orange;
  color: white;
}



h1 {
  background-image: url("./text2.jpg");
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0px;
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  	     

  
}

p {
  background-image: url("./text2.jpg");
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 0px;
            font-size: 15px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;


}

div{
  
  border-radius: 50%;
  width: 25px;
  height: 25px;
  
  background-image: url("./ball.jpg");
  
  position: relative;
  animation-name: ball;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  
}

@keyframes ball{

  50%  {background-color:white; left:0px; top:0px;}
  75%  {background-color:white; left:600px; top:0px;}
 
  100% {background-color:white; left:0px;0px;}
}

}
